**/.ipynb_checkpoints/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.vscode/
**/.DS_Store
data/**
notebooks/temp.ipynb
checkpoints/**
results/**
src/emotions/binary/temp.py