**/.ipynb_checkpoints/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.vscode/
**/.DS_Store
data/**
notebooks/temp.ipynb
checkpoints/**
results/**

# debug files
src/emotions/binary/temp.py
scripts/debug_embedding_collapse_from_yaml.py